:root {
    --font-family-main: 'Tele2 TextSans Web SHORT';
    --font-family-secondary: 'Tele2displaySerif';

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #1f2229;
    --base-bg-color: #edf0f2;
    --select-bg-color: #65707b;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --third-color: #65707b;

    /*input */
    --input-border-color: #d3d9df;
    --active-border-color: #3fcbff;
    --error-border-color: #d81b3b;
    --input-text-color: #65707b;
    --input-text-error-color: #d81b3b;

    /*btn */
    --hovered-btn-bg: #65707b;
    --primary-accent-btn-bg: #3fcbff;
    --secondary-accent-btn-bg: #38ffa6;
    --third-accent-btn-bg: #d81b3b;
    --accent-btn-color: #d81b3b;

    /*card*/
    --card-bg: #d81b3b;

/*xs*/
    --font-size-xs: 14px;
    --font-line-xs: 18px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
/*s*/
    --font-size-s: 16px;
    --font-line-s: 22px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
/*m*/
    --font-size-m: 20px;
    --font-line-m: 26px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
/* l */
    --font-size-l: 22px;
    --font-line-l: 28px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
/*xl */
    --font-size-xl: 28px;
    --font-line-xl: 36px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
/* xxl */
    --font-size-xxl: 38px;
    --font-line-xxl: 44px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

/*Размеры*/
    --sidebar-widght: 280px;
/*Индекс*/
    --modal-z-index: 100;
    --overlay-z-index: 10;

/*Цвета*/
    --overlay-color: rgba(57, 57, 57, 0.6);
}
