@import "reset.css";
@import "variables/global.css";


.app {
    font-size: var(--font-s);
    color: var(--primary-color);
    background: var(--secondary-bg-color);
}

.app {
    background: var(--base-bg-color);
    min-height: 100vh;
}

.wrapper {

}

.content {
    display: flex;
    margin-left: 278px;
 }
