@import "reset.css";
@import "variables/global.css";
@import "theme.css";


.app,
.app_modal,
.app_drawer {
    font-size: var(--font-s);
    color: var(--primary-color);
}

.app {
    background: var(--base-bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
