.app {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #1f2229;
    --base-bg-color: #edf0f2;
    --select-bg-color: #65707b;
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --third-color: #65707b;

/*skeleton*/
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 15%);

/*btn */
    --hovered-btn-bg: #65707b;
    --primary-accent-btn-bg: #3fcbff;
    --secondary-accent-btn-bg: #38ffa6;
    --third-accent-btn-bg: #d81b3b;
    --accent-btn-color: #d81b3b;

/*card*/
    --card-bg: #d81b3b;
}
