.auditorsPage {
}

.header {
    font: var(--font-xl);
    font-family: var(--font-family-secondary);
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 16px 40px;
    height: 68px;
    margin-bottom: 20px;
}

.auditorsContent {
}

.collapseContainer {
    background-color: var(--primary-bg-color);
    border: 1px solid var( --input-border-color);
    margin-bottom: 24px;
    box-shadow: none;
    border-bottom: none;
}

.collapsePanel {
    border-bottom: none;
}

.panelContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.category {
    width: 100%;
    border: 1px solid red;
}

.choice {
    width: 100%;
    border: 1px solid green;
}
