.Sidebar {
    height: 100vh;
    width: var(--sidebar-widght);
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 10px 16px;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    z-index: 1;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3px;
    font-family: var(--font-family-link);
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 48px;
    width: 90%;
}

.link {
    border-radius: 8px;
    width: 98%;
    height: 100%;
}

.logo {
    margin: 0 40px 45px;
}

.sidebarIcon {
    color: var(--secondary-color);
    margin: 0 18px 0 20px;
}

.volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 450px;
}

.digit {
    color: white;
    font: var(--font-xxl);
    font-family: var(--font-family-secondary);
    margin-bottom: 10px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
}

.blueBtn {
    margin-bottom: 24px;
}
.clearFilter {
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
}




