.usersPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    padding: 20px;
}

.btnFilter {
    text-decoration: underline
}
