.UsersPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    border: 1px solid;
    padding: 20px;
}

.btnFilter {
    text-decoration: underline
}
