.sliderWrapper {
    margin: 24px;
}
.slider :global(.ant-slider-dot) {
    height: 0;
    width: 0;
    border: none;
}
.slider :global(.ant-slider-mark-text) {
    font-size: 13px;
    line-height: 18px;
    color: #8F9399;
    margin-top: 14px;
}
.slider :global(.ant-slider-track) {
    background-color: #717273;
}
.slider :global(.ant-slider-handle-2) {
    background-color: #1f2229;
}
.sliderText {
    margin-bottom: 10px;
}

.sliderText :global(.ant-typography) {
    display: inline-block;
    width: 20px;
}
.sliderTextDash {
    margin-right: 10px;
}
