.page {
    min-height: 100vh;
    background-color: #edf0f2;
    padding: 80px 24px;
    flex: 1;
}

.pageContent {
    background-color: var(--primary-bg-color);
    border-radius: 16px;
    width: 100%;
    min-height: 100%;
    padding:  20px 20px 32px;
}
