.AppLink {
    color: var(--secondary-color);
    padding: 13px;
    display: flex;
    align-items: center;
}

.AppLink:hover {
    opacity: 0.8;
}

.active {
    background: var(--select-bg-color);
}
